/* Estilos para el encabezado */
header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

/* Estilos para los formularios */
form {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para la tabla de componentes */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para los botones de editar y eliminar */
form input[type="submit"] {
  background-color: #333;
  color: white;
}

form input[type="submit"]:hover {
  background-color: #555;
}

/* Estilos para el botón de cerrar sesión */
#logout {
  float: right;
  margin-right: 1em;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #555;
  }
  .edit-btn {
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .delete-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  .agregar-btn {
    background-color: rgb(146, 30, 241);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }